* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: "poppings", sans-serif;
 }

 body {
    background-color: #500000 ;
    position: relative;
    display: flex;
    min-height: 100vh ;
    align-items: center ;
    justify-content: center ;
    flex-direction: column;
    color:rgb(153, 16, 16) ;
 }

canvas {
    background-color: rgb(0, 104, 82);
}
.score {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8rem;
}

.score--value {
    font-weight: 700;
    font-size: 4.5rem;
    display: block;
    margin-top: -10px;
}

.menu-screen {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 1;
}

.game-over {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 3rem;
}

.final-score {
    font-weight: 500;
    font-size: 1.5rem;
}

.btn-play {
    border: none;
    border-radius: 100px;
    padding: 10px 15px 10px 12px;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

div {
    padding: 5px;
}

.arrows-container {
    position: absolute;
    display: flex !important;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    width: 220px;
    z-index: 999; /* Faz a div ficar sobre os outros elementos */
    bottom: 10px; /* Ajuste conforme desejado */
    right: 10px; /* Ajuste conforme desejado */
}

.lines .button {
    display: none ;
   width: 50px;
   height: 50px;
   border-radius: 50%;
   box-shadow: 5px 5px 5px rgba(0,0,0,.5),
   inset -5px -5px 5px rgba(0,0,0,.8);
   background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-position: center; /* Centraliza a imagem horizontal e verticalmente */
    background-size: 50px; /* Ajusta o tamanho da imagem para caber na div */
    transition:box-shadow .05s ease-in-out ;
    background-color: aliceblue;
}

.lines .button:active {
    box-shadow: 2px 2px 2px rgba(0,0,0,.7),
    inset -5px -5px 5px rgba(0,0,0,.8);
   
}

.top, .bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sides {
    display: flex;
    justify-content: space-between;
}

.up {
    background-image: url("https://cdn3.iconfinder.com/data/icons/arrows-107/512/Up_arrow-256.png");
}

.left {
    background-image: url("https://cdn3.iconfinder.com/data/icons/arrows-107/512/left_arrow-256.png");
}

.right {
    background-image: url("https://cdn3.iconfinder.com/data/icons/arrows-107/512/Right_arrow-256.png");
}

.down {
    background-image: url("https://cdn3.iconfinder.com/data/icons/arrows-107/512/Down_arrow-256.png");
}